<div class="signup-container">
  <div class="signup-header">
      <h1>Sign Up</h1>
      <p>Get started by creating your account</p>
  </div>

  <form class="signup-form" [formGroup]="signupForm" (ngSubmit)="signUpWithEmail()">
      
      <div [class.visible]='errorMessage != ""' class="error-message" id="signupErrorMessage">
        {{errorMessage}}
      </div>
    
      <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" required formControlName="email">
      </div>

      <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" required formControlName="password">
      </div>

      <div class="form-group">
          <label for="confirmPassword">Confirm Password</label>
          <input type="password" id="confirmPassword" name="confirmPassword" required formControlName="confirmPassword">
      </div>

      <div class="form-group checkbox">
          <input type="checkbox" id="terms" name="terms" required>
          <label for="terms">I agree to the Terms of Service</label>
      </div>
          
      <button *ngIf="!isLoading; else spinnerBlock" type="submit">Sign Up</button>
      <ng-template #spinnerBlock><p class="spinner">Loading...</p></ng-template>

      <button type="button" *ngIf="!isLoading" class="google-signup-button" (click)="signUpWithGoogle()">
        <img src="/google-icon.png" alt="Google Icon" class="google-icon" />
        Google Sign Up
      </button>

  </form>

  <div class="links">
      <p>Already have an account? <a routerLink="/signin" class="login-link">Sign in</a></p>
  </div>
</div>