<header>
  <div class="left">
    <a routerLink="/">Inicio</a>
  </div>
  <div class="right">
    <button (click)="signOut()">Cerrar sesión</button>
  </div>
</header>
<router-outlet />
<footer>Contact: +34 xxx xxx xxx</footer>

<div *ngIf="notificationMessage != undefined">
  <div class="overlay"></div>
  <div 
    class="floating-box" 
    [class.error]='notificationType == "error"'
    [class.warning]='notificationType == "warning"'
    [class.success]='notificationType == "success"'
    [class.info]='notificationType == "info"'>
    {{notificationMessage}}
    <button class="close-btn" (click)="closeNotificationDialog()">OK</button>
  </div>
</div>